*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
}

.contaner{
    width: 375px;
    display: flex;
    flex-direction: column;
    border: solid rebeccapurple;
}

header{
    background-image: url(./images/mastehead.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-position-x: center;
    background-size: 1000px 500px;
    color: white;
    
}

.logoh1{
    display: flex;
    margin-top: 5px;
    
    
}
 
.logo{
    height: 20px;
    width: 20px;
    margin-left: 15px;

}

.logotake{
    font-style: italic;
    font-weight: bold;

}


.headertext{
    height: 250px;
    width: 150px;
    margin-top: 220px;
    margin-left: 30px;
}




.iphone{
    display: none;
}

#introduction{
    height: 350px;
    margin: 20px;
    color: rgb(156, 154, 154);
}
#service{
    color: white;
    margin: 20px;
}


.designquality{
    height: 160px;
    background-color: rosybrown;
    padding: 25px;
    color: white;
}

.buildtolast{
    height: 160px;
    background-color: rgb(4, 89, 110);
    padding: 25px;
    color: white;
}


.ourclients{
    height: 160px;
    background-image: url(./images/box-bg.jpg);
    padding: 25px;
    color: white;
    background-size: 330px 250px;
    background-position: top ;

}


.signup{
    height: 160px;
    background-image:url(./images/box-bg-lg.jpg);
    padding: 25px;
    color: white;
    background-size: 350px 180px;
    background-position: center;
}


.perfectpic{
    height: 160px;
    background-color: rgb(58, 216, 182);
    padding: 25px;
    color: white;


}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}

#detail{
    padding: 20px;
}

p{
    font-size: 12px;
}

h3{
    padding-bottom: 10px;
}

h4{
    margin-top: 25px;
    padding-bottom: 30px;
}



#option{
    background-image: url(./images/full-image.jpg);
    height: 480px;
    color: white;
    background-position: left;
    background-size: 1000px 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 30px;

}


#powerbehind{
    font-size: 40px;
    font-weight: bold;
}

.optionlink{
    margin-top: 30px;
}




#reason{
    padding: 20px;
    background-color: rgb(134, 219, 169);
    height: 500px;
    color: white;
}

#business{
    padding-left: 50px;
    padding-bottom: 50px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.legacy{
    padding: 3px;
    background-color: gray;
    border-radius: 5px;
    color: white;
}

.businessbtn1{
    padding: 3px;
    width: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(152, 223, 72);
    border-radius: 5px;
    color: white;

}
.businessbtn2{
    padding: 3px;
    width: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(204, 101, 204);
    border-radius: 5px;
    color: white;


}

.businessbtn3{
    padding: 3px;
    width: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(152, 223, 72);
    border-radius: 5px;
    color: white;


}

.fa-apple{
    font-size: 30px;
    color: gray;
}
.fa-windows{
    font-size: 30px;
    margin-left: 10px;
    color: gray;
}

footer{
    padding: 20px;
    background-color: rgb(32, 45, 58);
    color: white;
    padding-top: 70px;
}

input{
    width: 100%;
    border-radius: 5px 0px 0px 5px;
    margin-top: 5px;
    
}


.form{
    display: flex;
}

.submit{
    width: 30px;
    height: 30px;
    background-color: rgb(134, 219, 169);
    color: white;
    border-color: rgb(134, 219, 169);
    margin-top: 5px;
}


.infofooter{
    display: flex;
    justify-content: space-around;

}
.greytext{
    color: grey;
}


li {
    list-style-type: none;
}